.OurStoryContainer {
    position: relative;
    width: 100%;
    overflow: hidden;

    .progressBar {
        z-index: 1;
        position: fixed;
        right: 20px;
        width: 2px;
        height: 100vh;

        .progressBarFiller {

            background-color: black;
            height: 1vh;
            width: 100%;
        }

        .progressBarHeart {
            filter: invert(17%) sepia(78%) saturate(7466%) hue-rotate(356deg) brightness(103%) contrast(116%);
            width: 40px;
            transform: translateX(-50%) translateX(+1px) translateY(-80%);
        }
    }

    .StorySection {

        .infoSection {
            display: grid;
            height: 100%;
            width: 100%;
            //border: solid red 2px;
            overflow: hidden;

            .infoSectionDate {

                align-self: start;
                justify-self: start;
            }

        }

        .section2 {
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;

            .gridWrapper {
                height: 100%;
                max-width: 1000px;
                display: grid;
                grid-template: minmax(0, 1fr) minmax(0, 1fr)/minmax(0, 1fr) minmax(0, 1fr);
                grid-gap: 1em;
                padding: 1em;

                justify-items: center;
                justify-content: center;
                .text {
                    height: 100%;
                    display: grid;
                    justify-content: center;
                    align-content: center;

                    .textInside{
                        h3 {
                            font-family: "Montserrat";
                        }
    
                        p {
                            font-family: "Montserrat";
                        }
                    }
                    
                }
                .imageWrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .image{
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(0, 0, 0, 0.6);
                        transition: all ease .5s;
    
                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                    .filter{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:0;
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
                
            }
        }

        .StorySectionDate {
            z-index: 2;
            font-family: "Martel", sans-serif;
            font-weight: 900;
            
            margin-left: 25px;
            position: absolute;
            h2{
                font-size: 60px;
            }
        }
    }

    h3 {
        color: black;
    }
}

@media only screen and (min-width: 800px) {

    .OurStoryContainer {
        .progressBar {
            right: 35px;
        }

        .StorySection {
            .infoSection {
                .infoSectionDate {}
            }

            .StorySectionDate {
                margin-left: 55px;
            }
        }
    }

}