#hero {
  height: 80vh;
  min-height: 900px;
  min-width: 1000px;
  width: 90%;
  position: relative;
}

.HomeContainer {
  position: relative;
  width: 100%;
  min-height: 250vh;
  background-color: rgba(69, 41, 64, 0.1);
  overflow: hidden;
}

.HomeContainer .topSectionOutside {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.HomeContainer .topSectionOutside .topSectionWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.HomeContainer .topSectionOutside .topSectionWrapper .topSection {
  z-index: 1;
  margin-left: -10%;
  position: absolute;
  background-color: white;
  width: 60%;
  height: 50%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.HomeContainer .topSectionOutside .topSectionWrapper .background1 {
  background-color: rgba(69, 41, 64, 0.7);
  position: absolute;
  margin-left: -14%;
  margin-top: 4%;
  width: 60%;
  height: 50%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.HomeContainer .topSectionOutside .topSectionWrapper .background2 {
  background-color: rgba(24, 86, 69, 0.7);
  position: absolute;
  margin-left: -6%;
  margin-top: -4%;
  width: 60%;
  height: 50%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.HomeContainer .topSectionOutside .topSectionWrapper .imageWrapper {
  z-index: 2;
  position: absolute;
  margin-left: 50%;
  width: 35%;
  height: 35%;
}

.HomeContainer .topSectionOutside .topSectionWrapper .imageWrapper .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.HomeContainer .topSectionOutside .topSectionWrapper .textWrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
  z-index: 2;
  position: absolute;
  width: 35%;
  height: 40%;
  margin-left: -27.5%;
}

.HomeContainer .topSectionOutside .topSectionWrapper .textWrapper h2 {
  padding: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .topSectionOutside .topSectionWrapper .textWrapper h1 {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
}

.HomeContainer .topSectionOutside .topSectionWrapper .textWrapper p {
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .topSectionOutside .bottomBar {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 4px;
  background-color: rgba(171, 116, 59, 0.5);
}

.HomeContainer .topSectionOutside .p {
  bottom: 6%;
  background-color: rgba(24, 86, 69, 0.5);
}

.HomeContainer .topSectionOutside .g {
  bottom: 4%;
  background-color: rgba(69, 41, 64, 0.5);
}

.HomeContainer .InfoSectionOutside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper {
  width: 100%;
  max-width: 1600px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper {
  padding-top: 60%;
  max-width: 100%;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard .cardInfo {
  height: 80%;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard .cardInfo h3 {
  padding: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display', sans-serif;
  border-bottom: 2px solid var(--gold);
}

.HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard .cardInfo p span {
  display: block;
}

.HomeContainer .GallerySectionOutside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 300vh;
}

.HomeContainer .GallerySectionOutside .galleryGridWrapper {
  width: auto;
  margin-top: 25vh;
  width: 100%;
}

.HomeContainer .GallerySectionOutside .galleryGridWrapper .GallerySectionWrapper {
  left: 0px;
  height: 50vh;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 1em;
  padding-left: 1em;
  margin-right: 1em;
}

.HomeContainer .GallerySectionOutside .galleryGridWrapper .GallerySectionWrapper .galleryImage {
  height: 50vh;
}

.HomeContainer .GallerySectionOutside .galleryGridWrapper .GallerySectionWrapper .galleryImage .image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HomeContainer .RSVPSectionOutside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper {
  z-index: 2;
  height: 100%;
  width: 80%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper h3 {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display', sans-serif;
  border-bottom: 2px solid var(--gold);
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper p {
  width: 90%;
  margin: 0;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper p span {
  display: block;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard {
  width: 70%;
  min-width: 600px;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  justify-items: center;
  border: solid 1px rgba(69, 41, 64, 0.8);
  background-color: rgba(69, 41, 64, 0.2);
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard p {
  margin: 0;
  padding: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard input {
  width: 100%;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea {
  border: none;
  -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
  width: 80%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-family: 'Montserrat', sans-serif;
  min-height: 5em;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea:focus {
  outline: none;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea::-webkit-input-placeholder {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea:-ms-input-placeholder {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea::-ms-input-placeholder {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea::placeholder {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper {
  position: relative;
  width: 100%;
  text-align: start;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: solid green 2px;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper .ContactFormInput {
  background-color: white;
  -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper input {
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper input:focus {
  outline: none;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper input:focus ~ label,
.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper input:valid ~ label {
  top: -32px;
  text-decoration: underline;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper label {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: absolute;
  top: 5px;
  font-size: 20px;
  left: 10px;
  bottom: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  pointer-events: none;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapperInvalid {
  border-bottom: solid red 2px;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard button {
  padding: 5px;
  border: solid rgba(69, 41, 64, 0.8) 2px;
  width: 60%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .selected {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(69, 41, 64, 0.8);
  color: white;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .notSelected {
  background-image: linear-gradient(45deg, var(--gold) 50%, var(--secondary) 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .notSelected:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background-position: left top;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .submitButton {
  width: 30%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-image: linear-gradient(45deg, #ab743b 50%, var(--secondary) 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .submitButton:disabled {
  background-color: rgba(69, 41, 64, 0.2);
}

.HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .submitButton:not(:disabled):hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background-position: left top;
}

.HomeContainer .RSVPSectionOutside .rsvpCircleLeft {
  left: 0;
  top: 10vh;
  position: absolute;
  border-radius: 0% 18vh 18vh 0%;
  height: 36vh;
  width: 18vh;
  background-color: rgba(171, 116, 59, 0.5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.HomeContainer .RSVPSectionOutside .rsvpCircleLeft1 {
  left: 0;
  top: 33.5vh;
  position: absolute;
  border-radius: 0% 12.5vh 12.5vh 0%;
  height: 25vh;
  width: 12.5vh;
  background-color: rgba(24, 86, 69, 0.5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.HomeContainer .RSVPSectionOutside .rsvpCircleLeft2 {
  left: 0;
  top: 51vh;
  position: absolute;
  border-radius: 0% 7.5vh 7.5vh 0%;
  height: 15vh;
  width: 7.5vh;
  background-color: rgba(69, 41, 64, 0.5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.HomeContainer .RegSectionOutside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 80vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.HomeContainer .RegSectionOutside .RegTriangle1 {
  border: solid black 2px;
  position: absolute;
  left: 40vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0vh;
  --side-size: 10vh;
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  border-bottom: 4.8vw solid rgba(171, 116, 59, 0.5);
  border-top: 6vw solid transparent;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.HomeContainer .RegSectionOutside .RegTriangle2 {
  position: absolute;
  left: 50vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0vh;
  --side-size: 10vh;
  border-left: 12vw solid transparent;
  border-right: 12vw solid transparent;
  border-bottom: 9.6vw solid rgba(24, 86, 69, 0.5);
  border-top: 12vw solid transparent;
  display: inline-block;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.HomeContainer .RegSectionOutside .RegTriangle3 {
  position: absolute;
  left: 60vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0vh;
  --side-size: 10vh;
  border-left: 9vw solid transparent;
  border-right: 9vw solid transparent;
  border-bottom: 7.2vw solid rgba(69, 41, 64, 0.5);
  border-top: 9vw solid transparent;
  display: inline-block;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper {
  padding-top: 5vh;
  z-index: 2;
  height: 100%;
  width: 80%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper h3 {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display', sans-serif;
  border-bottom: 2px solid var(--gold);
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid {
  margin-top: 2em;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper {
  padding-top: 60%;
  max-width: 100%;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  bottom: 0px;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper:hover {
  bottom: 8px;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg .infoCard {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg .infoCard .cardInfo {
  height: 80%;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg .infoCard .cardInfo h4 {
  padding: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display', sans-serif;
  border-bottom: 2px solid var(--gold);
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg .infoCard .cardInfo .regImageWrapper {
  width: 100%;
}

.HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid .gridSecWrapper .gridsecReg .infoCard .cardInfo .regImageWrapper .regImage {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #hero {
    height: 100vh;
    min-height: 900px;
    min-width: 00px;
    width: 100%;
    position: relative;
  }
  .HomeContainer .topSectionOutside {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper {
    position: relative;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .topSection {
    z-index: 1;
    margin-left: 0%;
    position: absolute;
    background-color: white;
    width: 60;
    height: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .background1 {
    background-color: rgba(69, 41, 64, 0.7);
    position: absolute;
    margin-left: -4%;
    margin-top: 4%;
    width: 60%;
    height: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .background2 {
    background-color: rgba(24, 86, 69, 0.7);
    position: absolute;
    margin-left: 4%;
    margin-top: -4%;
    width: 60%;
    height: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .imageWrapper {
    display: none;
    z-index: 2;
    position: absolute;
    margin-left: 0%;
    width: 50%;
    height: auto;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .imageWrapper .image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .textWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -ms-grid;
    display: grid;
    z-index: 2;
    position: absolute;
    width: 35%;
    height: 40%;
    margin-left: 0%;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .textWrapper h2 {
    padding: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .textWrapper h1 {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
  }
  .HomeContainer .topSectionOutside .topSectionWrapper .textWrapper p {
    font-family: 'Montserrat', sans-serif;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    -ms-grid-rows: (minmax(0, 1fr))[3];
        grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper {
    padding-top: 60%;
    max-width: 100%;
    position: relative;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec {
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(69, 41, 64, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .image {
    display: none;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard .cardInfo {
    height: 80%;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (minmax(0, 1fr))[2];
        grid-template-rows: repeat(2, minmax(0, 1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HomeContainer .InfoSectionOutside .InfoSectionWrapper .infoGrid .gridSecWrapper .gridsec .infoCard .cardInfo h3 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 2px solid var(--gold);
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper {
    z-index: 2;
    width: 90%;
    min-width: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard {
    width: 100%;
    min-width: 0px;
    padding: 30px 10px;
    grid-row-gap: 2em;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard p {
    margin: 0;
    padding: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard input {
    width: 100%;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea {
    border: none;
    -webkit-box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(69, 41, 64, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: white;
    width: 80%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard textarea:focus {
    outline: none;
  }
  .HomeContainer .RSVPSectionOutside .RSVPSectionWrapper .RSVPcard .InputFieldWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .HomeContainer .RegSectionOutside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .HomeContainer .RegSectionOutside .RegSectionWrapper {
    z-index: 2;
    height: 50%;
    width: 80%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .HomeContainer .RegSectionOutside .RegSectionWrapper h3 {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 2px solid var(--gold);
  }
  .HomeContainer .RegSectionOutside .RegSectionWrapper .regGrid {
    margin-top: 2em;
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10%;
  }
}
/*# sourceMappingURL=Home.css.map */