.TimeLineContainer {
    height: 700vh;
    background-color: rgb(239, 239, 252);

    .progressBar {
        z-index: 1;
        position: fixed;
        left: 20px;
        width: 8px;
        height: 100vh;


        .progressBarFiller {

            border: 2px solid black;
            height: 1vh;
            width: 100%;
        }

        .progressBarHeart {
            filter: invert(17%) sepia(78%) saturate(7466%) hue-rotate(356deg) brightness(103%) contrast(116%);
            width: 40px;
            transform: translateX(-50%) translateX(+1px) translateY(-80%);
        }
    }

    .section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        .sectionGrid {
            width: 70%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 1em;
            align-content: center;
            align-items: center;

            .imageWrapper {
                width: 400px;
                height: 550px;

                .image {

                    border-radius: 15px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
                }
            }

            .textWrapper {
                .date {
                    z-index: 2;
                    font-family: "Martel", sans-serif;
                    font-weight: 200;
                    font-size: 60px;
                    align-self: start;
                    padding-bottom: .5em;
                    margin-bottom: .5em;
                    border-bottom: solid black 1px;

                }

                p {
                    font-size: 18px;
                }
            }
        }

        .sectionGrid0 {
            width: 70%;

            .textWrapper {
                .date {
                    z-index: 2;
                    font-family: "Martel", sans-serif;
                    font-weight: 200;
                    font-size: 60px;
                    align-self: start;
                    padding-bottom: .5em;
                    margin-bottom: .5em;
                    border-bottom: solid black 1px;


                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

}

@media only screen and (max-width: 1400px) {
    .TimeLineContainer {

        .progressBar {
            left: 10px;

            .progressBarFiller {}

            .progressBarHeart {}
        }

        .section {

            .sectionGrid {
                justify-content: center;
                justify-items: center;
                grid-template-columns: 1fr;

                .imageWrapper {

                    width: 300px;
                    height: 400px;

                    .image {}
                }

                .textWrapper {
                    .date {}

                    p {
                        font-size: 15px;
                    }
                }
            }

            .sectionGrid0 {
                .textWrapper {
                    .date {}

                    p {
                        font-size: 15px;
                    }
                }

            }
        }

    }

}
@media only screen and (max-width: 800px) {
    .TimeLineContainer {

        .section {

            .sectionGrid {

                .imageWrapper {

                    width: 220px;
                    height: 300px;
                }


            }

        }

    }

}