.App {
  text-align: center;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #185645;
  --purple: #452940;
  --gold: #AB743B;
  --blue: #1A2237;
  --red: #561625;
  --tablet: 1200;
  --phone: 500;
  --primary: #452940;
  --secondary: whitesmoke;
  /* --secondary: #FBEAB2; */
  --fontOne: #FFFFFF;
  --fontTwo: #AB743B;
}



h1{

}
h2{

}
h3{

}
h4{
}
p{
}





/*tabler*/
@media (max-width: 1200px) {
  p{
    font-size: 150%;
  }
  h3{
    font-size: 300%;;
  }
  h2{
    font-size: 150%;
  }
  h1{
    font-size: 600%;
  }

}

/* Mobile */
@media (max-width: 500px) {
  p{
    font-size: 150%;
  }
  h3{
    font-size: 300%;;
  }
  h2{
    font-size: 150%;;
  }
  h1{
    font-size: 400%;
  }

}



