.App {
  text-align: center;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --tablet: 1200;
  --phone: 500;
  --max :1200;
  --primary: grey  ;
  --secondary: whitesmoke;
  --fontOne: #FFFFFF;
  --fontTwo: black;
}



h1{

}
h2{

}
h3{

}
h4{
}
p{
}





/*tabler*/
@media (max-width: 1200px) {
  p{
    font-size: 150%;
  }
  h3{
    font-size: 300%;;
  }
  h2{
    font-size: 150%;
  }
  h1{
    font-size: 600%;
  }

}

/* Mobile */
@media (max-width: 500px) {
  p{
    font-size: 150%;
  }
  h3{
    font-size: 300%;;
  }
  h2{
    font-size: 150%;;
  }
  h1{
    font-size: 400%;
  }

}



